section {
  padding: 80px 10%;
}

/* HERO */
.hero {
  text-align: center;
}

.hero h1 {
  font-size: 2.8rem;
  color: #ffffff;
}

.hero p {
  max-width: 650px;
  margin: 20px auto;
  font-size: 1.1rem;
  color: #cbd5f5;
}

.hero-buttons {
  margin-top: 30px;
}

.btn {
  padding: 12px 26px;
  border-radius: 30px;
  text-decoration: none;
  margin: 0 8px;
  font-size: 0.95rem;
}

.primary {
  background: linear-gradient(135deg, #38bdf8, #6366f1);
  color: #fff;
}

.secondary {
  border: 1px solid #38bdf8;
  color: #38bdf8;
}

/* SERVICES */
.services h2,
.why-us h2,
.projects h2,
.tech>h2,
.cta h2 {
  text-align: center;
  margin-bottom: 40px;
  color: #fff;
}

.service-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 25px;
}

.card {
  background: #020617;
  padding: 25px;
  border-radius: 14px;
}

.card h3 {
  margin-bottom: 10px;
  color: #38bdf8;
}

/* WHY US */
.reasons {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.reason {
  max-width: 300px;
  text-align: center;
}

/* PROJECTS */
.project-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
}

.project {
  background: #020617;
  padding: 25px;
  border-radius: 14px;
}

.project span {
  font-size: 0.85rem;
  color: #94a3b8;
}

/* TECH */
.technology-grid{
      display:flex;
      grid-template-columns: repeat(auto-fit,minmax(230px,1fr));
      column-gap:20px;
}

.sub-technology-grid p {
  text-align: start;
  font-size: 1.05rem;
  color: #cbd5f5;
}
section.tech{
  padding:70px 10%;
}
/* CTA */
.cta {
  text-align: center;
  background: linear-gradient(135deg, #020617, #020617);
}

.cta p {
  margin: 10px 0 25px;
}

/* LINKS */
.link {
  display: inline-block;
  margin-top: 30px;
  color: #38bdf8;
  text-decoration: none;
}